<a href="https://colab.research.google.com/github/AITH04/Database/blob/master/%E8%B3%87%E6%96%99%E5%BA%AB%E7%9B%B8%E9%97%9C%E7%A8%8B%E5%BC%8F%E7%A2%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQL語法內不要使用雙引號，一律使用單引號。

# 請輸入資料庫帳號密碼(必)

In [ ]:
username=input('請輸入資料庫username:')
password=input('請輸入資料庫password:')

# 連線資料庫(必)

In [ ]:
import psycopg2
import psycopg2.DatabaseError
conn=psycopg2.connect(database="gift_expert_testenv",user=username,password=password,host="172.104.89.11",port="5432")
cur=conn.cursor()
print('Connection successful!')

# 選取資料(選)

In [ ]:
#SQL-修改需要查詢的欄位(*表示全部欄位) table名稱 搜尋條件
SQL1="SELECT * FROM tablename WHERE column = 'value'"
try:
    cur.execute(SQL1)
    records = cur.fetchall()
except psycopg2.DatabaseError as error:
    print(f'Error{error}')

print(records)

# 新增資料(選)

In [ ]:
#給予資料變數值

#SQL-修改table名稱 column名稱 data對應的變數
SQL2 = "INSERT INTO products(column1,column2,column3,column4,column5) VALUES(%s, %s, %s, %s, %s)"
data=(value1,value2,value3,value4,value5)
    try:            
        cur.execute(SQL2, data)
        conn.commit()
        print(f"====================新增1筆資料==========================")
    except psycopg2.DatabaseError as error:
        print(f'Error{error}')

# 更新資料(選)

In [ ]:
#給予資料變數值

#SQL-修改table名稱 column名稱及欲修改成的值 選取條件
SQL3 = "UPDATE tablename SET (column1, column2 )= ('value1','value2') WHERE page_id= XXXX;"
    try:            
        cur.execute(SQL3)
        conn.commit()
        print(f"====================更新1筆資料==========================")
    except psycopg2.DatabaseError as error:
        print(f'Error{error}')

# 透過查詢檢查結果:
# SQL = SELECT * FROM tablename WHERE column = 'value'
# cur.execute(SQL)
# records = cur.fetchall()

# 結束資料庫連線(必)

In [ ]:
conn.close()